<h1>Stupid Coaching</h1>
<p><strong>Your question is:</strong></p>
<% if @question.blank? %>
  <p>There is no question.</p>
<% else %>
  <p> <%= @question %> </p>
<% end %>

<p><strong>Your answer:</strong></p>
<p><%= @answer%></p>

<form method="get" action="/ask">
    <button type="submit">Ask question</button>
</form>

<!-- Display the question and coach answer here -->


